@font-face {
    font-family: 'NunitoSans-Light';
    src: url("../../fonts/NunitoSans-Light.ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("../../fonts/Montserrat-Light.otf");
}
$color-main : #10c9c3; 
$color-background : #eceaea;
$color-black: black;
$color-white: white;


$for-phone-min : 375px;

$for-phone : 425px;

$for-tablet : 768px;

